<div class="playlist">
  <div class="toolbar">
    <select
      class="toolbar-item"
      (change)="onLanguageChange($any($event.target).value)"
    >
      @for (lang of languages; track lang) {
        <option [value]="lang" [selected]="lang === activeLanguage">
          {{ lang }}
        </option>
      }
    </select>
    <select
      class="toolbar-item"
      (change)="onEditionChange($any($event.target).value)"
    >
      @for (edition of radioEditions; track edition) {
        <option [value]="edition" [selected]="edition === selectedEdition()">
          {{ edition }}
        </option>
      }
    </select>
    <button
      class="toolbar-item"
      (click)="scrollToBottom()"
      title="{{ 'playlist.scroll-to-bottom' | transloco }}"
    >
      ↓
    </button>
  </div>
  <h1 class="title">{{ 'playlist.title' | transloco }}</h1>
  @if (loading()) {
    <p>{{ 'playlist.loading' | transloco }}</p>
  } @else if (tracks().length === 0 || programs().length === 0) {
    <p>{{ 'playlist.empty' | transloco }}</p>
  } @else {
    @for (program of programs(); track program.id) {
      <div>
        <app-playlist-program
          [program]="program"
          [tracks]="getTracksForProgram(program)"
          (onTrackAdded)="addTrack($event)"
          (onTrackEdited)="editTrack($event)"
          (onTrackDeleted)="deleteTrack($event)"
          (onProgramEdited)="editProgram($event)"
        ></app-playlist-program>
      </div>
    }
  }
</div>
