<div class="playlist">
  <nav class="playlist-nav">
    @for (edition of radioEditions; track edition) {
      <a [routerLink]="'/' + edition">[{{ edition }}]</a>
    }
  </nav>
  <h1 class="title">{{ 'playlist.title' | transloco }}</h1>
  @if (loading()) {
    <p>{{ 'playlist.loading' | transloco }}</p>
  } @else if (tracks().length === 0 || programs().length === 0) {
    <p>{{ 'playlist.empty' | transloco }}</p>
  } @else {
    @for (program of programs(); track program.id) {
      <div>
        <app-playlist-program
          [program]="program"
          [tracks]="getTracksForProgram(program)"
          (onTrackAdded)="addTrack($event)"
          (onTrackEdited)="editTrack($event)"
          (onTrackDeleted)="deleteTrack($event)"
        ></app-playlist-program>
      </div>
    }
  }
</div>
