.program-info {
  margin: 0.3rem 0;
  padding: 1px 0;

  &:hover {
    background-color: #440d12;
    cursor: pointer;
  }

  &.collapsed {
    border-color: #2d030e;
    border-width: 0 3px 3px 0;
    border-style: solid;
  }

  h3 {
    margin: 0.625rem 0 0.3rem;
  }

  .program-title-edit {
    display: flex;
    align-items: center;
    padding: 1em 0.5em 0 0;
    gap: 0.5rem;

    input {
      flex: 1;
      margin: 0;
    }
  }

  h5 {
    font-family: "Lucida Console", Monaco, monospace;
    color: #ddd;
    margin: 0.3rem 0;
    font-weight: normal;
  }
}

.program-tracks {
  width: 100%;
  border-spacing: 0;
  table-layout: fixed;
  word-break: break-word;
  font-size: 0.9em;

  tr,
  th {
    padding: 0.5rem;
  }

  tr:nth-child(even) {
    background-color: #33030e;
  }

  tr:nth-child(odd) {
    background-color: #440d12;
  }

  td {
    font-family: "Lucida Console", Monaco, monospace;
    padding: 0.2rem 0.375rem;
  }

  .time {
    width: 3rem;
    text-align: center;
  }

  .artist,
  .title {
    text-align: left;
  }

  .actions {
    width: 3.5rem;
    text-align: right;
  }

  input {
    width: 100%;
    margin: 0;
    padding: 0;
  }
}

button {
  border: none;
  background-color: inherit;
  color: white;
  font-family: "Lucida Console", Monaco, monospace;
  text-transform: uppercase;
  padding: 0;
  margin: 0 1px;
  cursor: pointer;
  display: inline-block;

  &:hover {
    color: lightgray;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
