@if (tracks().length > 0) {
  <div>
    <div
      class="program-info"
      [class.collapsed]="!show()"
      (click)="toggle()"
      [title]="show() ? 'Piilota' : 'Näytä'"
    >
      <h3>{{ program().title }}</h3>
      <h5>
        {{ program().startAt | date: 'EEE, MMM d, HH:mm' }} -
        {{ program().endAt | date: "EEE, MMM d, HH:mm" }}
      </h5>
    </div>
    <table class="program-tracks" [class.hidden]="!show()">
      <tr>
        <th class="time">Aika</th>
        <th class="artist">Artisti</th>
        <th class="title">Kappale</th>
        <th class="actions" requireApiKey></th>
      </tr>
      @for (track of tracks(); track track.id) {
        <tr>
          <td class="time" [title]="track.playedAt">
            {{ track.playedAt | date: "HH:mm" }}
          </td>
          <td
            class="artist"
            [title]="track.artist ? track.artist : 'Ei artistia'"
          >
            @if (editingTrack() === track) {
              <input
                type="text"
                [(ngModel)]="editArtist"
              />
            } @else {
              {{ track.artist ? track.artist : "Ei artistia" }}
            }
          </td>
          <td class="title" [title]="track.title">
            @if (editingTrack() === track) {
              <input
                type="text"
                [(ngModel)]="editTitle"
              />
            } @else {
              {{ track.title }}
            }
          </td>
          <td class="actions" requireApiKey>
            <button *ngIf="editingTrack() === null" (click)="edit(track)" title="Edit">[E]</button>
            <button *ngIf="editingTrack() === track" (click)="save(track)" title="Save">[S]</button>
            <button [disabled]="editingTrack() === track" (click)="delete(track)" title="Delete">[D]</button>
          </td>
        </tr>
      }
    </table>
  </div>
}
