.program-info {
  margin: 5px 0;
  padding: 1px 0;

  &:hover {
    background-color: #440d12;
    cursor: pointer;
  }

  &.hidden {
    border-color: #2d030e;
    border-width: 0 3px 3px 0;
    border-style: solid;
  }

  h3 {
    margin: 10px 0 5px;
  }

  h5 {
    font-family: "Lucida Console", Monaco, monospace;
    color: #ddd;
    margin: 5px 0;
    font-weight: normal;
  }
}

.program-tracks {
  width: 100%;
  border-spacing: 0;
  table-layout: fixed;
  white-space: nowrap;

  &.hidden {
    display: none;
  }

  tr,
  th {
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #33030e;
  }

  tr:nth-child(odd) {
    background-color: #440d12;
  }

  td {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 1em;
    padding: 3px 6px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .time {
    width: 50px;
    text-align: center;
  }

  .artist,
  .title {
    text-align: left;
  }
}

